.div_layout-container {
  display: flex;
  flex-direction: row;
  /* background-color: white; */
  height: 100vh;
}

.div_layout-sidebar {
  /* background-color: white; */
  position: relative;
  height: 100vh;
  z-index: 2;
}

.div_layout-header-main-footer {
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.div_layout-header {
  position: sticky;
  top: 0;
  width: 100%;
}
.div_layout-main {
  min-height: calc(100vh - 100px);
}
.div_layout-footer {
  /* position: relative; */
  width: 100%;
}
